*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: Lato, sans-serif;
   padding: 30px;
}

/* Form */
.form {
   width: 60vw;
   padding: 20px;
   border-bottom: 2px dotted #000;
   margin-bottom: 10px;
}

.form-heading {
   font-weight: 400;
   margin-bottom: 10px;
}

.form-input {
   padding: 10px;
   width: 300px;
   margin-right: 20px;
}

.form-input:focus {
   outline: none;
}

.form-button {
   padding: 10px 15px;
   margin-right: 10px;
   font-weight: 700;
}

/* TODO */
.todo {
   padding: 20px;
   margin: 10px 0;
   width: 60vw;
   border-bottom: 2px dotted #000;
   min-height: 200px;
}

.todo-heading {
   font-weight: 400;
   margin-bottom: 10px;
}

.todo-item {
   padding: 10px;
   margin-bottom: 5px;
   width: 60%;
   display: flex;
   align-items: center;
   background-color: rgb(243, 236, 236);
   border: 1px solid grey;
}

.todo-input {
   margin-right: 10px;
   height: 40px;
}

.todo-itemname {
   font-size: 20px;
   font-weight: 400;
   margin-right: 10px;
}

/* Completed */
.completed {
   padding: 20px;
   margin: 10px 0;
   width: 60vw;
   border-bottom: 2px dotted #000;
   min-height: 200px;
}

.completed-heading {
   font-weight: 400;
   margin-bottom: 10px;
}

.completed-item {
   padding: 10px;
   margin-bottom: 5px;
   width: 60%;
   display: flex;
   align-items: center;
   background-color: rgb(236, 227, 227);
   border: 1px solid grey;
}

.completed-input {
   margin-right: 10px;
   height: 40px;
}

.completed-itemname {
   font-size: 20px;
   font-weight: 400;
   margin-right: 10px;
   text-decoration: line-through;
}
